<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>
<opc-option-card [callOption]="mockCallOption" [putOption]="mockPutOption" [flipToPutSide]="false"/>